{% extends 'ski/base.html' %}
{% load static %}
{% block content %}
{#    <img src="{% static 'logo.png' %}" alt="">#}
    <html lang="">

    <style>
    body {
        margin: 0;
        font-family: "Lato", sans-serif;
        background-image: url('/static/back.png');
        background-size: 100% 100%;
    }
    </style>
    <head>
        <title>Home Page</title>
    </head>
    <body>
    <br>
    <br>
{#    <h1 style="color:azure">Welcome To ski equipment booking</h1>#}

    <br>
    <br>
    </body>
    </html>
{% endblock %}
