{% extends 'ski/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <br>
    <h2>Account Details</h2>
    <br>
    <p><b>User Name: </b>{{ user }}</p>
    <p><b>First Name: </b>{{ user.first_name }}</p>
    <p><b>Last Name: </b>{{ user.last_name }}</p>
    <p><b>Email: </b>{{ user.email }}</p>
    <p><b>Address: </b>{{ client.address }}</p>
    <p><b>City: </b>{{ client.city }}</p>
    <p><b>State: </b>{{ client.state }}</p>
    <p><b>Zipcode: </b>{{ client.zipcode }}</p>
    <p><b>Phone No: </b>{{ client.phone }}</p>
</div>
<button type="submit" class="btn btn-secondary"><a href="{% url 'client:client_edit' %}" style="color: white;">Edit</a></button>
<button type="submit" class="btn btn-secondary"><a href="{% url 'client:password_change' %}" style="color: white;">Change Password</a></button>
</body>
</html>
{% endblock %}