{% extends 'ski/base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% block content %}
    <html>
    <head>
        <meta charset="UTF-8">
        <title>SKI</title>
    </head>
    <body>
    <style>
        body {
            background-color: beige;
        }
    </style>
    <br>
    <div class="row">
        <h2 style="padding-left: 15Px">Pending Requests</h2>
    </div>
    <br>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr class="bg-info">
            <th>Order ID</th>
            <th>Client</th>
            <th>Product</th>
            <th>Order Date</th>
            <th>Order Status</th>
            <th colspan="4">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                    <td>{{ order.id }}</td>
                <td>{{ order.user }}</td>
                    <td>{{ order.product }}</td>
                    <td>{{ order.order_date }}</td>
                    <td>{{ order.order_status }}</td>
{#                    <td><a href="{% url 'nca:volunteersignup_detail' pk=form.pk %}" class="btn btn-warning">View</a>#}
                    <td><a href="{% url 'employee:order_approve' order.id %}" class="btn btn-warning">Approve</a>
                <td><a href="{% url 'employee:order_declined' order.id %}" class="btn btn-warning">Decline</a>
                    <td><a href="{% url 'employee:pending_delete' order.id %}" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-warning">Delete</a>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </body>
    </html>
{% endblock %}
